<form action="/sessions" method="post" class="sign_in">
	Email: <input name="email" type="text" value="<%= @user && @user.email %>" >
	Password: <input name="password" type="password"> 
	<input type="submit" value="Sign in">
</form>
	<p class="sign_in"><a href="/sessions/reset_password">Forgotten password? </a></p>