<h1>Please sign in</h1>

<form action="/sessions" method="post">
	Email: <input name="email" type="text" value="<%= @user && @user.email %>" >
	Password: <input name="password" type="password"> 
	<input type="submit" value="sign in">
</form>

<p><a href="/sessions/reset_password">Forgotten password? </a></p>

