<section class="sign_page_wrapper">
	<form action="/sessions/password_reset_success" method="post">
		<div><label for="password">Please input your new password</label></div><div><input name="password" type="password"> 
		<div><label for="password_confirmation">..and password confirmation</label></div>
		<div> <input name="password_confirmation" type="password"></div>
		<div><input type="submit" value="Update password" class="button"></div>
	</form>
<section>
