<h1>Please input your email address and we will send you a link to reset your password</h1>

<form action="/sessions/reset_password/:token" method="post">
	Email: <input name="email" type="text" value="<%= @user %>" >
	<input type="submit" value="Reset password">
</form>