<section class="sign_page_wrapper">

	<form action="/users" method="post" class="sign_form">
		<div><label for="email">Email </label></div>
		<div><input name="email" type="text" value="<%= @user.email %>" ></div>
		<div><label for="password">Password</label> </div>
		<div><input name="password" type="password"></div>
		<div><label for="password_confirmation">Password confirmation</label></div>
		<div> <input name="password_confirmation" type="password"></div>
		<div><input type="submit" value="Sign up" class="button"></div>
	</form>

</section>
