* {
  padding: 0;
  margin: 0; }

html, body {
	height: 100%;
	background-image: url("http://wallpaperswa.com/download/view?resolution=1920x1200&file=MTYwMHgxMjAwLzIwMTIwMzE0L3dvb2QgZ3JheXNjYWxlIG1vbm9jaHJvbWUgd29vZCB0ZXh0dXJlIDE2MDB4MTIwMCB3YWxscGFwZXJfd3d3LndhbGxwYXBlcmhpLmNvbV8xNi5qcGc=&name=d29vZF9ncmF5c2NhbGVfbW9ub2Nocm9tZV93b29kX3RleHR1cmVfMTYwMHgxMjAwX3dhbGxwYXBlcg==");
	background-repeat: no-repeat; 
	background-size: 100% 100%;
  font-family: 'Helvetica Neue';
}

header {
    min-height:50px;
    background:#91AA9D;
    width:70%;
    margin:0px auto;
    text-align: center;
}

h1 {
	/*display: inline;*/
}

.sign_wrapper {
    text-align: right;

}

.title h1{
  text-align: center;
  width: 100%;
  display: block;
  padding:5px;
  margin-top: -20px; 
}

.header_wrapper {
  display: block;
}
.wrapper {
	width: 70%;
    margin:0px auto;
	min-height: 100%;
	background-color:white;
}


.sign_up, .sign_in {
  display:inline;
  
}

#new-link-form {
	width: 40%;
	margin:0px auto;

}
#new-link-form label {
  display: block;
}

#new-link-form input[type="text"] {
  width: 100%;
  padding: 5px;
  margin:2px;
}

input.button {
  width: 30%;
  background-color: #3E606F;
  border-color: #3E606F;
  border-style: none;
  color: white;
  border-radius: 10px;
  height: 30px;
}

#new-link{
	background-color:white;
	padding: 15px;
}
#new-link-form span{
  display:block;
  text-align: center;
}


.user-links{
	height: 40px;
  	font: bold 22px Arial;
  	text-decoration: none;
  	color: black;
    text-align: center;
}

dt:nth-of-type(5n-4) {
  background-color:  #FCFFF5;
}

dt:nth-of-type(5n-3) {
  background-color:  #D1DBBD;
}

dt:nth-of-type(5n-2) {
  background-color: #91AA9D;
}

dt:nth-of-type(5n-1) {
  background-color: #3E606F;
}

dt:nth-of-type(5n) {
  background-color:  #193441;
}




