<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bookmark Manager</title>
	</head>
	<body>
		<% if current_user %>
		<p>Welcome, <%= current_user.email %></p>	
		<% end %>
		<% if flash[:errors] && !flash[:errors].empty? %>
		<p>Sorry, there were the following problems with the form.</p>
			<ul id="error">
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		<% end %>
		<%= yield %>
	</body>
</html>
