<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bookmark Collector</title>
		<link rel="stylesheet" type="css" href="/css/style.css">
	</head>

	<body>
	<header>
		<section class="header_wrapper">
			<div class="sign_wrapper">
				<% if current_user %>
				
					<p class="welcome"> Welcome, <%= current_user.email %> </p>
					<form method="post" action="/sessions">
							<input type="hidden" name="_method" value="delete">
							<input type="submit" value="Sign out" class="sign_out">
					</form>

				<% else %>
					<form method="get" action="/users/new" class="sign_up">
						<input type="hidden">
						<input type="submit" value="Not a collector? Sign up!" id="Sign_up" class="button2">
					</form>
					<form method="get" action="/sessions/new"  class="sign_in">
						<input type="hidden">
						<input type="submit" value="Sign in" class="button2">
					</form>
				<% end %>
			</div>
		<div class="title">
			<h1 class="logo">Bookmark Collector</h1>
		</div>
		</section>
	</header>
		<section class="wrapper">

			<% if flash[:notice] %>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<% if flash[:errors] && !flash[:errors].empty? %>
				<p>Oopsy daisy!</p>
				<ul id="error">
				<% flash[:errors].each do |error| %>
					<li><%= error %></li>
				<% end %>
			<% end %>

			<%= yield %>
		
		</section>
	</body>
</html>
