<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bookmark Manager</title>
		<link rel="stylesheet" type="css" href="css/style.css">
	</head>
	<body>
	
		<% if current_user %>
			Welcome, <%= current_user.email %>
			<form method="post" action="/sessions">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="sign out">
			</form>
		<% end %>

		<% if flash[:notice] %>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>

		<% if flash[:errors] && !flash[:errors].empty? %>
			<p>Sorry, there were the following problems with the form.</p>
			<ul id="error">
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		<% end %>

		<%= yield %>

	</body>
</html>
